.toutTexte a {
  color: #25B2F3;
}

.toutTexte h4 {
  color: #25B2F3;
}

.filAriane {
  color: #25B2F3;
}
      
.filAriane a {
  color: #25B2F3;
}  

.boutons {
  color: #fff;
  background-color: #25B2F3;
}

.boutonsCol {
  color: #25B2F3;
}

.menu a {
  color: #25B2F3;
} 

.menuInterne a {
  color: #25B2F3;
}