.toutTexte a {
  color: #C60440;
}

.toutTexte h4 {
  color: #C60440;
}

.filAriane {
  color: #C60440;
}
      
.filAriane a {
  color: #C60440;
}  

.boutons {
  color: #fff;
  background-color: #C60440;
}

.boutonsCol {
  color: #C60440;
}

.menu a {
  color: #C60440;
} 

.menuInterne a {
  color: #C60440;
}
