#aideENT.AEtoutTexte a {
  color: #8F7401;
}

#aideENT.AEtoutTexte h1, #aideENT.AEtoutTexte h4 {
  color: #8F7401;
}

#aideENT .AEfilAriane {
  color: #8F7401;
}
      
#aideENT .AEfilAriane a {
  color: #8F7401;
}  

#aideENT .AEboutons {
  color: #fff;
  background-color: #8F7401;
}

#aideENT .AEboutonsCol {
  color: #8F7401;
}

#aideENT .AEmenu a {
  color: #8F7401;
} 

#aideENT .AEmenuInterne a {
  color: #8F7401;
}
