#aideENT.AEtoutTexte a {
  color: #25B2F3;
}

#aideENT.AEtoutTexte h4 {
  color: #25B2F3;
}

#aideENT .AEfilAriane {
  color: #25B2F3;
}
      
#aideENT .AEfilAriane a {
  color: #25B2F3;
}  

#aideENT .AEboutons {
  color: #fff;
  background-color: #25B2F3;
}

#aideENT .AEboutonsCol {
  color: #25B2F3;
}

#aideENT .AEmenu a {
  color: #25B2F3;
} 

#aideENT .AEmenuInterne a {
  color: #25B2F3;
}
